* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer {
  height: 75px;
  align-items: flex-start;
  justify-content: center;
  font-style: italic;
}

button {
  width: 100px;
  height: 25px;
  margin-top: 50px;
  font-weight: bold;
}

#vermelho {
  background-color: #ff0000;
}

#amarelo {
  background-color: yellow;
}

#verde {
  background-color: #00ff00;
}
